<div>

  <div class="row">

    <div class="col-md-12">

      <app-navbar></app-navbar>

    </div>

  </div>

  <div class="row">

      <div class="col-md-12">

             <router-outlet></router-outlet>

      </div>

  </div>

</div>

<!-- <section>
  <div class="row">
    <div class="col-md-12">
      <app-navbar></app-navbar>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <app-todo-pending></app-todo-pending>
    </div>

  <div class="col-md-6"> 
    <app-todo-done></app-todo-done>
  </div>
</div> 

<div class="row">
  <div class="col-md-12">
    <app-posts></app-posts>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    footer
  </div>
</div>
</section> -->

<!-- <div>
  <app-navbar></app-navbar>
</div>
<section>
  <div>
    <app-todo-pending></app-todo-pending>
  </div>
  <div>
    <app-todo-done></app-todo-done>
  </div>
</section> -->


<!-- <h1>Hello angular</h1>

<div>
  <p> x={{x}} </p>
  <p> y={{y}} </p>
  <p>Sum of x+y={{x+y}}</p>
</div>

<hr>
<h3>Calculator</h3>
<div>
<label>Enter num1: </label>
<input type="text" [(ngModel)]="n1">
<br />
<label>Enter num2: </label>
<input type="text" [(ngModel)]="n2">
</div>

<button (click)="calc('ADD')">ADD</button>
<button (click)="calc('DIV')">SUB</button>
<button (click)="calc('MUL')">MUL</button>
<button (click)="calc('DIV')">DIV</button>
<br />
<p>Result is: {{result}}</p>

<hr>
<h3>Toggle ngIf</h3>
<button (click)="toggleAddress()">
  {{showAddress?'Hide':'Show'}} Address
</button>
<P *ngIf="showAddress">
  House No: {{addressObj.hno}}<br />
  House No: {{addressObj.street}}<br />
  House No: {{addressObj.city}}<br />
  House No: {{addressObj.postcode}}<br />
</P>

<hr>
<h3>Student Marks</h3>
<div>
<label>Enter Sub1: </label>
<input type="text" [(ngModel)]="sub1">
<br />
<label>Enter Sub2: </label>
<input type="text" [(ngModel)]="sub2">
<br />
<label>Enter Sub3: </label>
<input type="text" [(ngModel)]="sub3">
</div>
<button (click)="marks('RESULT')">Result</button>

<br />
<p>Percent is {{percent}}</p>
<br />
<p>Grade is: {{grade}}</p>

<hr>
<div>
  <h3>Iterate over an Array using *ngIf</h3>
  <ul>
    <li *ngFor="let x of arryNum">{{x}}</li>
  </ul>
</div>
 -->
